In [21]:
%load_ext autoreload
%autoreload 2
import uproot
import numpy as np
import awkward as ak
import matplotlib.pyplot as plt
import mplhep as hep
plt.style.use(hep.style.CMS)
import hist

import sys
sys.path.append("../..")
from analyzer.dumperReader.reader import *
from analyzer.driver.fileTools import *
from analyzer.driver.computations import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
dumperInput = DumperInputManager("/data_cms_upgrade/cuisset/supercls/alessandro_electrons/supercls-v1/")
reader= dumperInput.getReader(0)

In [26]:
assocs_bestScore(assocs_dropOnes(assocs_zip_recoToSim(reader.associations)))

In [29]:
pd.options.display.min_rows=50

In [30]:
reader.assocs_bestScore_recoToSim_df()

                     simts_id     score    sharedE
eventInternal ts_id
0             0             0  0.966305   0.000182
              1             0  0.997339   0.044401
              2             0  0.969742   0.096398
              3             0  0.998178   0.000368
              4             0  0.999078   0.012921
              5             0  0.964695   0.009293
              6             0  0.979735   0.080785
              7             0  0.990220   0.002180
              8             0  0.997095   0.001848
              9             0  0.927226   0.026630
              10            0  0.924755   0.042007
              11            0  0.999578   0.001229
              12            0  0.960555   0.004936
              13            0  0.166949   3.543109
              14            0  0.900342   0.537169
              15            0  0.823452   0.181505
              16            0  0.996988   0.001814
              17            0  0.999240   0.000489
              18            0  0.993934   0.000118
              19            0  0.970582   0.043182
              20            0  0.996876   0.011424
              21            0  0.991911   0.037789
              22            0  0.234957   4.052404
              23            0  0.006902  11.579436
              24            0  0.094262   3.787784
...                       ...       ...        ...
99            58            1  0.991746   0.014959
              59            1  0.998168   0.069027
              60            1  0.999752   0.043187
              61            1  0.957475   0.090269
              62            1  0.985252   0.004256
              63            1  0.995976   0.006143
              64            1  0.993803   0.000158
              65            1  0.981219   0.040309
              66            1  0.994437   0.016242
              67            1  0.006790  10.010888
              68            1  0.039856   5.487073
              69            1  0.869690   0.139220
              70            1  0.499068   0.493669
              71            1  0.999804   0.001388
              72            1  0.989280   0.019849
              73            1  0.989415   0.064875
              74            1  0.806638   0.355087
              75            1  0.997014   0.032687
              76            1  0.999198   0.008735
              77            1  0.999364   0.009146
              78            1  0.023342  37.916306
              79            1  0.990022   0.064792
              80            1  0.548549   0.395473
              81            1  0.940631   0.005816
              82            1  0.998857   0.035175

[9787 rows x 3 columns]

In [35]:
df = reader.supercluster_df.join(reader.assocs_bestScore_recoToSim_df(), on=["eventInternal", "ts_id"])
df.score = df.score.fillna(1)
df

                                             ts_id  simts_id     score  \
eventInternal supercls_id ts_in_supercls_id
0             0           0                   2359       NaN  1.000000
                          1                   2492       NaN  1.000000
              1           0                    626       NaN  1.000000
                          1                    537       NaN  1.000000
                          2                    392       NaN  1.000000
                          3                     36       0.0  0.927329
              2           0                   1658       NaN  1.000000
                          1                    479       NaN  1.000000
                          2                    188       NaN  1.000000
              3           0                    766       NaN  1.000000
                          1                    191       NaN  1.000000
              4           0                    588       NaN  1.000000
                          1                    970       NaN  1.000000
              5           0                   2238       NaN  1.000000
                          1                   1984       NaN  1.000000
                          2                   1851       NaN  1.000000
              6           0                   2493       NaN  1.000000
                          1                   2793       NaN  1.000000
                          2                   2859       NaN  1.000000
              7           0                   2101       NaN  1.000000
                          1                   2761       NaN  1.000000
              8           0                   2422       NaN  1.000000
                          1                   2852       NaN  1.000000
                          2                   2712       NaN  1.000000
                          3                   2225       NaN  1.000000
...                                            ...       ...       ...
99            277         1                    113       NaN  1.000000
              278         0                   3044       NaN  1.000000
                          1                   2896       NaN  1.000000
              279         0                   1005       NaN  1.000000
                          1                    385       NaN  1.000000
              280         0                   1527       NaN  1.000000
                          1                    571       NaN  1.000000
              281         0                    373       NaN  1.000000
                          1                   1122       NaN  1.000000
              282         0                   1817       NaN  1.000000
                          1                    818       NaN  1.000000
              283         0                    253       NaN  1.000000
                          1                   1417       NaN  1.000000
              284         0                   2750       NaN  1.000000
                          1                   2749       NaN  1.000000
              285         0                    340       NaN  1.000000
                          1                     64       1.0  0.993803
              286         0                   1503       NaN  1.000000
                          1                    930       NaN  1.000000
              287         0                   1771       NaN  1.000000
                          1                   1664       NaN  1.000000
              288         0                   2583       NaN  1.000000
                          1                   2464       NaN  1.000000
              289         0                   1632       NaN  1.000000
                          1                   1535       NaN  1.000000

                                              sharedE
eventInternal supercls_id ts_in_supercls_id
0             0           0                       NaN
                          1                       NaN
              1           0                       NaN
                          1                       NaN
                          2                       NaN
                          3                  0.160030
              2           0                       NaN
                          1                       NaN
                          2                       NaN
              3           0                       NaN
                          1                       NaN
              4           0                       NaN
                          1                       NaN
              5           0                       NaN
                          1                       NaN
                          2                       NaN
              6           0                       NaN
                          1                       NaN
                          2                       NaN
              7           0                       NaN
                          1                       NaN
              8           0                       NaN
                          1                       NaN
                          2                       NaN
                          3                       NaN
...                                               ...
99            277         1                       NaN
              278         0                       NaN
                          1                       NaN
              279         0                       NaN
                          1                       NaN
              280         0                       NaN
                          1                       NaN
              281         0                       NaN
                          1                       NaN
              282         0                       NaN
                          1                       NaN
              283         0                       NaN
                          1                       NaN
              284         0                       NaN
                          1                       NaN
              285         0                       NaN
                          1                  0.000158
              286         0                       NaN
                          1                       NaN
              287         0                       NaN
                          1                       NaN
              288         0                       NaN
                          1                       NaN
              289         0                       NaN
                          1                       NaN

[57256 rows x 4 columns]

In [36]:
supercluster_joinTracksters(df, reader.tracksters)

                                             ts_id  simts_id     score  \
eventInternal supercls_id ts_in_supercls_id
0             0           0                   2359       NaN  1.000000
                          1                   2492       NaN  1.000000
              1           0                    626       NaN  1.000000
                          1                    537       NaN  1.000000
                          2                    392       NaN  1.000000
                          3                     36       0.0  0.927329
              2           0                   1658       NaN  1.000000
                          1                    479       NaN  1.000000
                          2                    188       NaN  1.000000
              3           0                    766       NaN  1.000000
                          1                    191       NaN  1.000000
              4           0                    588       NaN  1.000000
                          1                    970       NaN  1.000000
              5           0                   2238       NaN  1.000000
                          1                   1984       NaN  1.000000
                          2                   1851       NaN  1.000000
              6           0                   2493       NaN  1.000000
                          1                   2793       NaN  1.000000
                          2                   2859       NaN  1.000000
              7           0                   2101       NaN  1.000000
                          1                   2761       NaN  1.000000
              8           0                   2422       NaN  1.000000
                          1                   2852       NaN  1.000000
                          2                   2712       NaN  1.000000
                          3                   2225       NaN  1.000000
...                                            ...       ...       ...
99            277         1                    113       NaN  1.000000
              278         0                   3044       NaN  1.000000
                          1                   2896       NaN  1.000000
              279         0                   1005       NaN  1.000000
                          1                    385       NaN  1.000000
              280         0                   1527       NaN  1.000000
                          1                    571       NaN  1.000000
              281         0                    373       NaN  1.000000
                          1                   1122       NaN  1.000000
              282         0                   1817       NaN  1.000000
                          1                    818       NaN  1.000000
              283         0                    253       NaN  1.000000
                          1                   1417       NaN  1.000000
              284         0                   2750       NaN  1.000000
                          1                   2749       NaN  1.000000
              285         0                    340       NaN  1.000000
                          1                     64       1.0  0.993803
              286         0                   1503       NaN  1.000000
                          1                    930       NaN  1.000000
              287         0                   1771       NaN  1.000000
                          1                   1664       NaN  1.000000
              288         0                   2583       NaN  1.000000
                          1                   2464       NaN  1.000000
              289         0                   1632       NaN  1.000000
                          1                   1535       NaN  1.000000

                                              sharedE  raw_energy  \
eventInternal supercls_id ts_in_supercls_id
0             0           0                       NaN  124.677086
                          1                       NaN    1.262087
              1           0                       NaN   45.562664
                          1                       NaN   36.765469
                          2                       NaN   12.883864
                          3                  0.160030    1.160079
              2           0                       NaN   72.133415
                          1                       NaN    1.582225
                          2                       NaN    0.791029
              3           0                       NaN   41.067959
                          1                       NaN    2.268450
              4           0                       NaN   32.286015
                          1                       NaN    1.219525
              5           0                       NaN   21.249933
                          1                       NaN    2.321719
                          2                       NaN    1.932878
              6           0                       NaN   36.412834
                          1                       NaN    1.604028
                          2                       NaN    1.423392
              7           0                       NaN    8.601584
                          1                       NaN   14.120015
              8           0                       NaN   17.480429
                          1                       NaN    3.626039
                          2                       NaN    4.175410
                          3                       NaN    1.859362
...                                               ...         ...
99            277         1                       NaN    0.984906
              278         0                       NaN    2.084216
                          1                       NaN    0.806919
              279         0                       NaN    2.336067
                          1                       NaN    1.005410
              280         0                       NaN    5.445050
                          1                       NaN    2.235033
              281         0                       NaN    2.196567
                          1                       NaN    0.886415
              282         0                       NaN    1.892221
                          1                       NaN    1.725413
              283         0                       NaN   13.547665
                          1                       NaN    2.143720
              284         0                       NaN    1.422204
                          1                       NaN    1.117024
              285         0                       NaN    8.873351
                          1                  0.000158    3.880854
              286         0                       NaN    1.642375
                          1                       NaN    0.956414
              287         0                       NaN    1.002061
                          1                       NaN    0.966571
              288         0                       NaN    3.478829
                          1                       NaN    2.568494
              289         0                       NaN    1.011532
                          1                       NaN    0.853457

                                             regressed_energy
eventInternal supercls_id ts_in_supercls_id
0             0           0                        103.189247
                          1                          4.670240
              1           0                         45.490688
                          1                         40.089409
                          2                         14.027811
                          3                          4.669837
              2           0                         88.022568
                          1                          5.161386
                          2                          0.000000
              3           0                         44.721634
                          1                          5.816634
              4           0                         25.782938
                          1                          3.944078
              5           0                         22.758936
                          1                          6.146615
                          2                          5.504313
              6           0                         30.424257
                          1                          4.225399
                          2                          4.340117
              7           0                         13.177868
                          1                         17.797230
              8           0                         17.208069
                          1                          7.266099
                          2                          7.288033
                          3                          4.495573
...                                                       ...
99            277         1                          0.000000
              278         0                          6.415442
                          1                          0.000000
              279         0                          5.683278
                          1                          3.951539
              280         0                          9.849827
                          1                          5.447467
              281         0                          5.987401
                          1                          0.000000
              282         0                          5.831938
                          1                          5.564011
              283         0                         18.547174
                          1                          5.735032
              284         0                          4.230505
                          1                          3.810114
              285         0                         12.721234
                          1                          7.116655
              286         0                          4.827421
                          1                          0.000000
              287         0                          3.986357
                          1                          0.000000
              288         0                          6.873580
                          1                          7.894757
              289         0                          3.867230
                          1                          0.000000

[57256 rows x 6 columns]